* {box-sizing: border-box;}

h1{
    color: #ffffff;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

form {
    color: #ffffff;
}

h2 {
 color: rgb(44,92,81);
}

.btn.btn-primary {
    background-color: rgb(44,92,81);
    border-color: rgb(44,92,81);
}

.btn.btn-primary:hover{
    background-color: rgb(16,40,34);
}

.btn.btn-danger {
    background-color: rgb(114, 24, 24);
    border-color: rgb(114, 24, 24);
}

.btn.btn-danger:hover{
    background-color: rgb(49, 10, 10);
}

#checkbox {
    accent-color: rgb(44,92,81);
}

#center-submit {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

html, body {
    height: 100%;
}

a, button {
    cursor: pointer;
}

@keyframes pan {
    100% { background-position: 15% 50%;}
}

.card.text-center.h-100 {
    margin-right: 10px;
    min-width: 350px;
    height: 300px;
    justify-items: center;
    align-items: center;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("low-poly-grid-haikei\ \(5\).svg");
    background-repeat: no-repeat;
    background-size:cover;
    animation: 
        pan 10s infinite alternate linear;
}
 
@media (width >= 500px) {
    body {
        padding: 0;
    }
}


.homepage-cont {
    display: flex;
    flex-direction: column;
    /* border: 3px solid #ffffff; */
    height: 70vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.page-cont {
    display: flex;
    /* border: 3px solid #ffffff; */
    height: 70vh;
    width: 80vw;
    justify-content: center;
    align-items:baseline
}

.page-cont-2 {
    height: 70vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.form-cont {
    text-align: left;
}

.form-cont-1 {
    position: relative;
    display: -webkit-flex;
    justify-content:center;
    align-items:center;
    width: 60vw;
    height: 10vh;
    /* border: 5px dotted #ffffff; */
    margin-bottom: 30px;
    
}

.form-cont-2 {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    align-items: center;
    width: 60vw;
    height: 30vh;
    margin-top: 50px;
    /* border: 3px dotted #ffffff; */

  
}

.nav-cont {
    top: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    /* border: 3px dotted #ffffff; */
}

.small-logo-cont {
    position:absolute;
    left:0;
    top: 20px;;
    /* margin-right: 100px; */
    display: flex;
    align-items:center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    /* border: 3px dotted #ffffff;  */
}

.flash-cont {
    text-align: center;
    /* border: 3px dotted #ffffff; */
    width: 60vw;
    height: 5vh;
}

.login-card {
    width: 20vw;
    border: 2px solid rgb(44,92,81);
    padding: 10 10px;
    background: #ffffff;
    text-align: center;


}

.create-account-card {
    width: 20vw;
    border: 2px solid rgb(44,92,81);
    padding: 10 10px;
    background: #ffffff;
    text-align: center;

}

@media (width >= 500px) {
    .login-card {
        margin: 0;
        width: 400px;
    }

    .create-account-card {
        margin: 0;
        width: 400px;
    }
}

.login-card > h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
}

.login-card > h3 {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.38)
}

.login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.create-account-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.create-account-card > h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
    
}

.create-account-card > h3 {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.38)
}

#goal-list {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    /* grid-template-rows: auto auto ;
    grid-template-columns: auto auto auto; */
    overflow-x: scroll;
    /* border: 3px solid #ffffff; */

}


#logo-large {
    width: 400px;
    height: 100%;
}

.logo-large-container {
    margin-bottom: 50px;
}


.nav-link {
    color: #c3a769;
}

.nav-link:hover {
    color: #ffffff
}
.footer{
    color:#ffffff;
    position: absolute;
    bottom: 0
}

.flash-msg {
    color: #ffffff;
}

@media (max-width: 860px) {
    body {
        padding: 0;
    }

    .homepage-cont {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        /* flex-direction: column-reverse; */
        border: 3px solid #ffffff;
        height: 80vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .login-card {
        width: 50vw;
        border: 4px solid rgb(44,92,81);
        padding: 10 10px;
        background: #ffffff;
        text-align: center;
    
    }

    .create-account-card {
        width: 50vw;
        height: 269px;
        border: 4px solid rgb(44,92,81);
        padding: 10 10px;
        background: #ffffff;
        text-align: center;
    
    }

    .login-form {
        width: 100%;
        margin: 0;
        display: grid;
        gap: 16px;
    }
    
    .create-account-form {
        width: 100%;
        margin: 0;
        display: grid;
        gap: 16px;
    }

    #logo-large {
        width: 200px;
        height: 100%;

    }

    #logo-small {
        display: none;
    }

    .nav-cont {
        top: 0;
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: x-small;
        width: 100vw;
        height: 10vh;
        /* border: 3px dotted #ffffff; */
    }

    .create-account-card > h2 {
        margin: 0 0 12px;
        font-size: 23px;
        font-weight: 600;
        
    }

    .login-card > h2 {
        margin: 0 0 12px;
        font-size: 24px;
        font-weight: 600;
    }

    .btn.btn-primary {
        background-color: rgb(44,92,81);
        border-color: rgb(44,92,81);
    }

    input {
        width: 150px;
        margin: 7px;
    }

 }