* {box-sizing: border-box;}

h1, form, h3{
    color: #ffffff;
    justify-content: center;
}

h2 {
 color: rgb(44,92,81);
}

.btn.btn-primary {
    background-color: rgb(44,92,81);
    border-color: rgb(44,92,81);
}

.btn.btn-primary:hover{
    background-color: rgb(16,40,34);
}

.btn.btn-danger {
    background-color: rgb(114, 24, 24);
    border-color: rgb(114, 24, 24);
}

html, body {
    height: 100%;
}

a, button {
    cursor: pointer;
}

@keyframes pan {
    100% { background-position: 15% 50%;}
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card.text-center{
    margin-right: 10px;
    width: 200px;
    height: 300px;
    justify-items: center;

    
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("low-poly-grid-haikei\ \(5\).svg");
    background-repeat: no-repeat;
    background-size:cover;
    animation: 
        pan 10s infinite alternate linear;
}

@media (width >= 500px) {
    body {
        padding: 0;
    }
}

.form-cont {
    text-align: left;
}

.form-cont-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items: center;
    width: 60vw;
    height: 30vh;
    border: 5px dotted #ffffff;
}

.form-cont-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    align-items: center;
    width: 60vw;
    height: 40vh;
    border: 3px dotted #ffffff;
}

.nav-cont {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 60vw;
    height: 10vh;
    border: 3px dotted #ffffff;
}

.small-logo-cont {
    position:absolute;
    left:0;
    top: 20px;;
    /* margin-right: 100px; */
    display: flex;
    align-items:center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    border: 3px dotted #ffffff; 
}

.login-card {
    width: 20px;
    border: 2px solid #c3a769;
    padding: 10 10px;
    margin: 10 10px;
    background: #ffffff;
    text-align: center;

}

.create-account-card {
    width: 20vw;
    border: 2px solid #c3a769;
    padding: 10 10px;
    margin: 10 10px;
    background: #ffffff;
    text-align: center;

}

@media (width >= 500px) {
    .login-card {
        margin: 0;
        width: 400px;
    }
}

.login-card > h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
}

.login-card > h3 {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.38)
}

.login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.create-account-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

input:hover {
    background-color:#c3a769

}

.create-account-card > h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
    
}

.create-account-card > h3 {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.38)
}

@media (width >= 500px) {
    .create-account-card {
        margin: 0;
        width: 400px;
    }
}

#goal-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 70px, 30px, 44px;
    margin: 0 0 30px;;
}

/* #logo-small {
   float: left;
   height: 10vh;
   max-width: 10vw;
   border: 5px solid #c3a769;
} */

#logo-large {
    margin: 20px;
    width: 60vw;
    height: 30vh;
}

.logo-large-container {
    padding: 70px, 30px, 44px;
    margin: 30 30px;

}

.nav{
    margin: 20px;
}

.nav-link {
    color: #c3a769;
}

.nav-link:hover {
    color: #ffffff
}
.footer{
    color:#ffffff
}

.flash-msg {
    color: #ffffff;
}