{% extends "base.html" %}
{% block main %}

<div class="logo-large-container">

  <img id="logo-large" src="../static/Untitled_Artwork1.PNG">

</div>

<div class = "create-account-card">
  <h2>Create Account</h2>
    <form action="/create-user" method="POST" class = "create-account-form">

      <p>
        <input type="text" name="email" placeholder="Email">
      </p>

      <p>
        <input type="password" name="password" placeholder="Password">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>
</div>

<div class = "login-card">
  <h2>Log In</h2>
  <form action="/login" method="POST" class="login-form">
    <p>
      <input type="text" name="email" placeholder="Email">
    </p>

    <p>
      <input type="password" name="password" placeholder="Password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
</div>


{% endblock %}