{% extends "base.html" %}
{% block main %}

<h1>Digital Dream Board</h1>

<div class = "create-account-card">
  <h2>Create an Account</h2>
    <form action="/create-user" method="POST" class = "create-account-form">

      <p>
        Email <input type="text" name="email">
      </p>

      <p>
        Password <input type="password" name="password">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>
</div>

<div class = "login-card">
  <h2>Log In</h2>
  <form action="/login" method="POST" class="login-form">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
</div>


{% endblock %}